<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="cn.edu.zjiet.stucheck.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.edu.zjiet.stucheck.pojo.Student">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="stuNo" jdbcType="VARCHAR" property="stuNo"/>
        <result column="idCard" jdbcType="VARCHAR" property="idCard"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="className" jdbcType="VARCHAR" property="className"/>
    </resultMap>

    <select id="findByNo" resultMap="BaseResultMap">
        SELECT * FROM studentInfo where stuNo=#{num,jdbcType=VARCHAR} or idCard=#{num,jdbcType=VARCHAR} limit 1
    </select>
</mapper>